#show-pdf-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-main-container {
	width: 100%;
	margin: 20px auto;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
	float: left;
	width: 95%;
	left: 50%;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}
#main-contents {
	border-radius: 5px;
	border: 2px solid #2980b9;
	padding: 20px;
	width: 55%;
	height: 1200px;
	float: left;
	margin: 8px;
	background: rgba(230, 230, 230, 1);
}

#evidence-creator{
	border-radius: 5px;
	border: 2px solid #2980b9;
	padding: 20px;
	width: 20%;
	height: 1200px;
	float: left;
	text-align: center;
	margin: 8px;
	background: rgba(230, 230, 230, 1);
}

#evidence {
	border-radius: 5px;
	border: 2px solid #2980b9;
	padding: 20px;
	width: 20%;
	height: 1200px;
	float: left;
	text-align: center;
	margin: 8px;
	background: rgba(230, 230, 230, 1);
}

#tool-bar {
	width: 100%;
	height: 100px;
	float: left;
	margin: 15px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


.flip-card-image {
	width: 100%;
}

.flip-card {
	background-color: transparent;
	width: 90%;
	height: 500px;
	perspective: 1000px;
	margin: 10px auto;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #bbb;
	color: black;
}

.flip-card-back {
	background-color: #2980b9;
	color: white;
	transform: rotateY(180deg);
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#cross-hair-overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#cross-hair {
	position: relative; /* Sit on top of the page content */
}

#compiled-evidence {
	background-color: #dcfeff;
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#text{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	width: 90%;
	height: 200px;
	transition: 0.3s;
	overflow-y: auto;
	border: 3px solid green;
	padding: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}

.blue-dot {
	height: 25px;
	width: 25px;
	background-color: blue;
	border-radius: 50%;
	display: inline-block;
}

.red-dot {
	height: 25px;
	width: 25px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
}

.green-dot {
	height: 25px;
	width: 25px;
	background-color: green;
	border-radius: 50%;
	display: inline-block;
}

.black-dot {
	height: 25px;
	width: 25px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}

.evidence-div {
	border: 3px solid green;
}

.evidence-image {
	height: 70%;
	width: 70%;
}
